mat-form-field {
    width: 100%;
}
textarea {
    height: 100px;
}
mat-icon {
    margin-right: 10px;
}
.flavour {
    width: 70%;
}
.add-flavour {
    width: 26%;
    margin-right: 2%;
    margin-left: 2%;
}