.preview-wrapper {
    overflow-y: auto;
    max-height: 90vh;
}

figure {
    display: flex;
    justify-content: center;
    img {
        height: 40vh;
    }
}

.description {
    max-width: 900px;
    padding: 3rem;
}

.name {
    text-align: center;
}

.flavours-list {
    padding-left: 3rem;
}

.address {
    padding: 3rem;
}