<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar">
    <a routerLink="/" class="title">Menadżer lodzarni</a>
    <span class="actions">
      <span class="mini">
          <button #miniMyRef mat-icon-button matTooltip="Moje lodziarnie" routerLink="/moje" routerLinkActive="button-disabled" [disabled]="checkDisabled(miniMyRef)">
            <mat-icon >list_alt</mat-icon>
          </button>
          <button #miniAddRef mat-icon-button matTooltip="Dodaj lodziarnie" routerLink="/dodaj" routerLinkActive="button-disabled" [disabled]="checkDisabled(miniAddRef)">
            <mat-icon >library_add</mat-icon>
            </button>
          <button mat-icon-button (click)="logout()">
            <mat-icon matTooltip="Wyloguj">exit_to_app</mat-icon>
          </button>
      </span>
      <span class="full">
          <button #fullMyRef mat-button routerLink="/moje" routerLinkActive="button-disabled" [disabled]="checkDisabled(fullMyRef)">
            Moje lodziarnie
            <mat-icon>list_alt</mat-icon>
          </button>
          <button #fullAddRef mat-button routerLink="/dodaj" routerLinkActive="button-disabled" [disabled]="checkDisabled(fullAddRef)">
            Dodaj lodziarnie
            <mat-icon>library_add</mat-icon>
            </button>
          <button mat-button (click)="logout()">
            Wyloguj
            <mat-icon>exit_to_app</mat-icon>
          </button>
      </span>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
