.list-wrapper {
    margin: 0 2rem;
}
.actions {
    display: flex;
}
.action-button {
    margin: 0.2rem;
}
.search-info {
    width: 100vw;
    text-align: center;
}
.print-report {
    margin: 3rem;
}