mat-icon {
    margin-right: 10px;
    cursor: pointer;
}
.center {
    display: flex;
    justify-content: center;
}
mat-progress-spinner {
    margin: 20px;
}
main {
    display: flex;
    flex-direction: row;
}
@media (max-width: 600px) {
    main {
        flex-direction: column;
    }
}
.logo {
    flex: 1;
}
.info {
    flex: 1;
}
mat-card {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}
@media (max-width: 600px) {
    mat-card {
        margin-top: 0px;
    }
}
img {
    width: 100%;
}
.address {
    margin-left: 20px;
}
.flavours {
    margin-left: 20px;
}